<div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-863720"> 
  <div class="form-group"> 
    <label for="input4485">Menor número</label> 
    <input type="integer" mask="" mask-placeholder="" ng-required="false" ng-model="vars.input01" class="form-control k-textbox" id="input4485" placeholder="Placeholder text"> 
  </div> 
</div> 
<div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-496872"> 
  <div class="form-group"> 
    <label for="input8861">Maior número</label> 
    <input type="integer" mask="" mask-placeholder="" ng-required="false" ng-model="vars.input02" class="form-control k-textbox" id="input8861" placeholder="Placeholder text"> 
  </div> 
</div> 
<div class="component-holder ng-binding ng-scope" data-component="crn-button" id="crn-button-557374"> 
  <button class="btn btn-default k-button btn-block" ng-click="cronapi.server('blockly.Ex3.ValoresImpares').run()" xattr-size="" xattr-fullsize="btn-block" xattr-theme="btn-default" xattr-disabled=""><i class="glyphicon glyphicon-home"></i> <span>Verificar</span></button> 
</div> 
<div class="component-holder ng-binding ng-scope" data-component="crn-textarea" id="crn-textarea-452556"> 
  <div class="form-group"> 
    <label for="input3323">Resultado:</label> 
    <textarea id="textArea3323" ng-model="vars.textarea3323" maxlength="300" style="resize:none" resize="resize:none;" class="form-control k-textbox" rows="5"></textarea> 
  </div> 
</div>